.container{
  display: flex;
  border: solid;
  flex-direction: row;
  align-content: space-between;
}

.list {
  width: 20%;
  flex: 1;
}

.list > ul > li:hover {
  font-size: 1.2em;
  cursor: pointer;
}

.items {
  width: 80%;
  left: 10px;
  overflow: scroll;
  border: 2px solid black;
}

th, td {
  border-bottom: 1px solid black;
  padding: 2px 10px;
}
